* {
-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'News Cycle';
}

@media (max-width: 480px) {
    img {
    width: 20%;
  }
}

header {
  display: inline-block;
}

section {
  text-align: center;
}

.part1 {
  background-color: #2aa35e;
  background-image: url("images/banner.png");
}

.part2 {
  background-color: #eee;
}

.part3 {
  background-color: #27ae61;
}

nav {
  max-width: 1000px;
  background-color: white;
  padding-top: 2em;
  display: inline-block;
  margin-left: 20em;
}

h3{
  font-size: 1.5em;
  display: inline-block;
  margin-left: 6em;
}

li{
  list-style-type: none;
  display: inline-block;
  margin-left: 3em;
  padding-bottom: 1em;
}

ul{
margin-bottom: 1em;
margin-left: 1em;
}

a {
  text-decoration: none;
}

#touseul {
  color: #27ae61;
}

div {
  max-width: 1000px;
  margin: auto;
}

img {
  border-radius: 50%;
  margin-top: 7em;
}

h2 {
  font-size: 4em;
  color: #eee;
  padding-top: 1em;
}

#grostitre{
  color: black;
}

p {
  color: rgba(255, 255, 255, 0.8);
  margin-top: 3em;
}

h4 {
  color: rgba(255, 255, 255, 0.8);
}

#moyentitre {
  color: #656565;
}

#texte {
  color: #656565;
}


a {
  color: #2b3f48;
}

.blanc {
  color: white;
}

button {
  width: 12em;
  height: 3em;
  margin-top:4em;
  margin-bottom: 6em;
  background-color: #2b3f48;
  color: white;
  font-size: 1em;
  border: none;
}

  #vert {
    background-color: #27ae61;
    color: white;
  }

  #blanc {
    background-color: #fff;
    color: #27ae61;
  }

  #foot {
    color: #8da3d0;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
  }
